#trending-section {
  background-color: rgb(200, 200, 200);
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;

  #trending-header {
    padding: 2vw;
    padding-top: 50px;
    padding-bottom: 40px;
    #whats-trending-text {
      margin-top: 15px;
      position: relative;
      width: 100%;
      max-width: 600px;
      transform-origin: center center;
      animation: pulse 0.6s linear infinite;
    }
  }

  #trending-artist-section {
    padding: 0;
    display: flex;
    max-width: 1400px;
    margin: auto;
    width: 100%;

    .trending-artist-image-container {
      padding: 10px;
      clip-path: circle(70px at center);
      .trending-artist-image {
        height: 150px;
        background-size: cover;
        background-position: center;
      }
    }
  }

  #trending-tracks-section {
    max-width: 1400px;
    margin: auto;
    padding: 10px;
    width: 100%;

    .trending-tracks-list {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: left;

        .trending-tracks-list-header {
          &:hover {
            background-color: rgb(200, 200, 200);
            cursor: default;
          }
        }

        li {
          padding: 10px;
          border-bottom: 1px solid rgb(125, 125, 125);
          font-family: "Exo", sans-serif;
          font-weight: 900;
          overflow: hidden;

          &:hover {
            background-color: rgb(210, 210, 210);
            cursor: pointer;
          }
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #trending-section {
    #trending-tracks-section {
      .trending-tracks-list {
        ul {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
}
