#join-page-container {
  min-height: 100vh;
  background-image: url("../../../../assets/crowd-photo-2.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-content: center;
}

#join-page-inner {
  margin: auto;
  width: 100%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px;
  border-radius: 10px;
}

#star-logo {
  width: 100px;
}

.form-group {
  margin-top: 25px;
  .invalid-field-text {
    color: red;
    font-size: 14px;
    position: absolute;
    display: none;
  }
}

.invalid {
  input {
    border: 2px solid red;
  }

  .invalid-field-text {
    display: block;
  }
}

#signup-button {
  margin-top: 20px;
}
